<div class="row product_item">
  <div class="product_sale">
      <p>מוצר חדש</p>
  </div>
  <div class="col-md-4">
    <img src="https://bit.ly/1q4760r" alt="img" class="item-img">
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-xs-6"><h3>title</h3></div>
      <div class="col-xs-6">
          <div class="product_buttons">
              <button class="product_heart"><i class="glyphicon glyphicon-heart-empty"></i></button>
              <button class="product_compare"><i class="glyphicon glyphicon-random"></i></button>
              <button class="add_to_cart"><i class="glyphicon glyphicon-shopping-cart"></i></button>
            </div>
      </div>
    </div>    
    <div>
      <i class="glyphicon glyphicon-star-empty"></i>
      <i class="glyphicon glyphicon-star-empty"></i>
      <i class="glyphicon glyphicon-star-empty"></i>
      <i class="glyphicon glyphicon-star-empty"></i>
      <i class="glyphicon glyphicon-star-empty"></i>
      <span class="label label-info">free</span>
    </div>
    <p>
        Curabitur venenatis interdum lectus, vitae egestas sem facilisis sit amet. Praesent tortor purus, vulputate at ultricies quis, aliquet sed ante.
    </p>
  </div>
</div>
